<app-main-nav />
<div class="post-form-container">
    @if(isTitleError){
      <small class="text-red-400">Este campo es requerido</small>
    }
    <input class="retro-input" type="text" placeholder="Título" [(ngModel)]="title"><br>
    
    @if(isBodyPostError) {
      <small class="text-red-400">Este campo es requerido</small>
    }
    <textarea class="retro-textarea" rows="5" cols="40" placeholder="Contenido" [(ngModel)]="postBody"></textarea><br>
    
    
    <div class="button-group">
      <button class="btnRetro" (click)="saveAsTemplate()">Borrador</button>
      <button class="btnRetro" (click)="saveAndPublish()">Publicar</button>
    </div>
  </div>
  