.post-form-container {
  max-width: 600px;
  margin: 40px auto;
  padding: 30px;
  border: 4px dashed #000;
  background-color: #fff;
  box-shadow: 6px 6px 0 #000;
  font-family: 'Press Start 2P', cursive;
  text-align: center;
}

.retro-input,
.retro-textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  background: #fff;
  color: #000;
  border: 2px solid #000;
  font-family: 'Press Start 2P', cursive;
  font-size: 0.8em;
  box-sizing: border-box;
}

.retro-textarea {
  resize: none;
  height: 300px;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btnRetro {
  background: #0f0;
  color: #000;
  padding: 15px 20px;
  border: none;
  font-family: 'Press Start 2P', cursive;
  font-size: 1em;
  cursor: pointer;
  box-shadow: 0 0 5px #0f0;
}

.btnRetro:hover {
  background: #0c0;
}



.text-red-400 {
  --tw-text-opacity: 1;
  color: rgb(248 113 113 / var(--tw-text-opacity, 1))
    /* #f87171 */
  ;
  margin-bottom: 15px;
}

.loading-indicator {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Press Start 2P', cursive;
  color: #444;
  margin-bottom: 10px;
}

.spinner {
  width: 24px;
  height: 24px;
  border: 3px dashed #4caf50;
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.title-input-group {
  display: flex;
  align-items: stretch; /* Para igualar altura automáticamente */
  gap: 10px;
  margin-bottom: 20px;
}

.title-input-group .retro-input {
  flex: 1;
}

.title-input-group .btnRetro {
  height: 100%;
  padding: 10px;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Press Start 2P', cursive;
  white-space: nowrap;
  box-shadow: 0 0 5px #0f0;
  border: none;
  background: #0f0;
  color: #000;
  cursor: pointer;
}

.title-input-group .btnRetro:hover {
  background: #0c0;
}