@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* RESET GLOBAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BASE */
html, body {
  width: 100%;
  height: 100%;
  background: #000;
  overflow-x: hidden;
  font-family: 'Press Start 2P', cursive;
}


* {
  box-sizing: border-box;
}

.main-title {
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 30px;
}

.loading-text {
  text-align: center;
  font-size: 0.9em;
}
