<nav class="retro-navbar">
  <a routerLink="/blog" class="blogname">Cahuiblog</a>

  <div class="nav-right">
    @if(isLogged){
      <span class="welcome-text">Bienvenido {{userName}}</span>
      <button class="btnRetro" (click)="goToDashboard()">Dashboard</button>
      @if(isAdmin){
        <button class="btnRetro" (click)="goToAdminPanel()">Admin</button>
      }
      <button class="btnRetro" (click)="goToBlog()">Vista del Blog</button>
      <button class="btnRetro" (click)="logOut()">Log out</button>
    }
    @else {
      @if(isAllowedLogin) {
        <a class="retro-link" routerLink="/auth/login">Login</a>
      }
      @if(isAllowedRegister) {
        <a class="retro-link" routerLink="/auth/register">Register</a>
      }
    }
  </div>
</nav>
